@model IEnumerable<EMTrackerDev.Models.Sample>

@{
    ViewData["Title"] = "Index";
}

<h1>Samples In-Process</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="table table-striped table-bordered table-sm" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SampleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analysis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationCodeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectedBy.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Analysis.Name)
                </td>
                <td>
                    <a asp-action="Edit_TestResults" asp-route-id="@item.SampleID">Edit</a> <a asp-action="Details" asp-route-id="@item.SampleID">Details</a>
                   <!-- <a asp-action="Delete" asp-route-id="@item.SampleID">Delete</a>-->
                    <a asp-action="Tests" asp-route-id="@item.SampleID">Tests</a>


                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#table').DataTable( {
        "scrollX": true
    } );
</script>
