@model IEnumerable<EMTrackerDev.Models.TestResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Tests</h1>

<h1>Tests for @ViewBag.Id</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisResultId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
                  <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnteredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnalysisResultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnteredBy.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.TestID)
                </td>
                <td>
                   <!--  @Html.ActionLink("Edit_TestResults", "Edit_TestResults", new {userId= @ViewBag.UserId})-->

                   <a asp-action="Edit_TestResults" asp-route-id="@item.TestResultId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.TestResultId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestResultId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
