@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMTrackerDevHome</title>
    <script src="https://kit.fontawesome.com/dcfe4a17db.js" crossorigin="anonymous"></script>
    <style>
        .row-cols-sm-4 {
            width: 200px;
            height: 100px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            border: none;
        }
        .fa-truck {
            width: 100px;
            height: 100px;
        }
        .fa-plus {
            width: 100px;
            height: 100px;
        }
        .fa-vials {
            width: 100px;
            height: 100px;
        }
        .fa-file-alt {
            width: 100px;
            height: 100px;
        }
        .fa-user-check {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome *User*</h1>
    </div><br /><br />
    <div class="container">
      <div class="row">
              <div class="col-sm-4">
            </div>
              <div class="text-center">

                  <div class="row-cols-sm-4">
                      <strong>Create</strong>
                      <button id = "create">
                          
                          <!-- solid style -->
                          <i class="fas fa-plus"></i>
                      </button>

                  </div>
                  <div class="row-cols-sm-4">
                      <strong>Collect</strong>
                      <button id = "collect">
                          
                          <!-- solid style -->
                          <i class="fas fa-truck"></i>
                      </button>
                  </div>
                  <div class="row-cols-sm-4">
                      <strong>Analyze</strong>
                      <!-- solid style -->
                      <button id = "analyze">
                          
                          <i class="fas fa-vials"></i>
                      </button>

                  </div>
                  <div class="row-cols-sm-4">
                      <strong>Results</strong>
                      <!-- solid style -->
                      <button id = "results">
                         
                          <i class="fas fa-file-alt"></i>
                      </button>
                  </div>
                  <div class="row-cols-sm-4">
                      <strong>Approve</strong>
                      <!-- solid style -->
                      <button id = "approve">
                         
                          <i class="fas fa-user-check"></i>
                      </button>
                  </div>
              </div>

     <div>
         </div>
         </div>
    </div>
</body>
</html>
<script>
    $("#create").click(function () {
        window.location.href = '@Url.Action("Create", "Samples")';

    });
     $("#collect").click(function () {
         window.location.href = '@Url.Action("Index", "Samples",new{userId=@ViewBag.userID})';


     });
        $("#analyze").click(function () {
        window.location.href = '@Url.Action("Collected", "Samples")';

    });
     $("#results").click(function () {
         window.location.href = '@Url.Action("InProcess", "Samples",new{userId=@ViewBag.userID})';


     });
        $("#approve").click(function () {
        window.location.href = '@Url.Action("Completed", "Samples",new{userId=@ViewBag.userID})';

    });


</script>